* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: rebeccapurple;
	padding: 10px;
	/* height: 100px; */
}
.logo {
	font-weight: 800;
	color: white;
	/* padding: 10px;	 */
}
.nav-bar ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.nav-bar ul li > a {
	position: relative;
	color: white;
	text-decoration: none;
	padding: 4px 15px;
	text-decoration: none;
	border-radius: 20px;
	font-size: 20px;
}
.nav-bar ul li > a ::after {
	content: "";
	color: white;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -3px;
	height: 3px;
	background-color: white;
	border-radius: 20px;
	transform: scale(1);
}
.nav-bar ul li > a:hover {
	color: rebeccapurple;
	background-color: white;
}
.primary > button {
	border-radius: 20px;
	padding: 10px;
	border: none;
	color: rebeccapurple;
	font-weight: 700;
	margin: 0px 5px;
}
