* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select {
  padding: 2px 20px;
  border-radius: 10px;
}

.header,
#form-section {
  background-color: blue;
  color: white;
}

#submit {
  padding: 5px 100px;
  border-radius: 10px;
  color: blue;
  border: 1px solid white;
}

#submit:hover {
  color: white;
  background-color: blue;
  border: 1px solid white;
}

input,
textarea {
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px;
}
